#quote-box {
  width: 55vw;
  height: 40vh;
  overflow: scroll;
  box-shadow: 15px 30px 30px hsl(0deg 0% 0% / 0.20);
}

.quote-btn:hover {
  opacity: 0.8;
}

#icon-container svg:hover {
  /* Correct filter to convert element from black to Twitter blue generated here: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(48%) sepia(43%) saturate(3184%) hue-rotate(180deg) brightness(104%) contrast(90%);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  #quote-box {
    width: 95%;
    height: auto;
  }
}
